<div class="row no-gutters">
    <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto shadow">
        <div class="card-header text-center">
            <h4 class="m-5">MVC Web App Demonstration</h4>
            <h5 class="m-1">This is an insurance estimate tool that uses a variety of technologies!</h5>
            <p>Including: C#, ASP.NET, ADO.NET, SQL, HTML, CSS, & BOOTSTRAP</p>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("EstimateCalc", "Home", FormMethod.Post))
            {
            <div class="row no-gutters">
                <div class="form-group col-md-12">
                    <center><h5>Vehicle Information</h5></center>
                    <input name="VMake" type="text" class="form-control text-center col-lg-12" placeholder="Make" />
                </div>
                <div class="form-group col-md-12">
                    <input name="VModel" type="text" class="form-control text-center col-lg-12" placeholder="Model" />
                </div>
                <div class="form-group col-md-12">
                    <input name="VYear" type="number" class="form-control text-center col-lg-12" placeholder="Year" />
                </div>
                <div class="form-group col-md-12">
                    <center><h5>Applicant Information</h5></center>
                    <input name="FName" type="text" class="form-control text-center col-lg-12" placeholder="First Name" />
                </div>
                <div class="form-group col-md-12">
                    <input name="LName" type="text" class="form-control text-center col-lg-12" placeholder="Last Name" />
                </div>
                <div class="form-group col-md-12">
                    <input name="EAddress" type="email" class="form-control text-center col-lg-12" placeholder="Email" />
                </div>
                <div class="form-group col-md-12">
                    <center>Date of Birth</center>
                    <input name="DOBirth" type="date" class="form-control text-center col-lg-12" placeholder="DOB" />
                </div>
                <div class="form-group col-md-12">
                    <center><h5>Driving History</h5></center>
                    <center>DUI Conviction</center>
                    <input name="AConviction" type="text" class="form-control text-center col-lg-12" placeholder="Yes or No" />
                </div>
                <div class="form-group col-md-12">
                    <center>Speeding Ticket Convictions</center>
                    <input name="BConvictionQTY" type="number" class="form-control text-center col-lg-12" placeholder="Quantity" />
                </div>
                <div class="form-group col-md-12">
                    <center>Coverage Type</center>
                    <input name="CoverageType" type="text" class="form-control text-center col-lg-12" placeholder="Full or Liability" />
                </div>
                <button type="submit" class="btn btn-block btn-primary">Submit</button>
            </div>
            }
        </div>
    </div>
</div>