@using CSharpInsuranceQuoteWebAppMVC.ViewModels
@model List<EstimateVM>



<div class="row no-gutters">
    <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto shadow">
        <div class="card-header text-center">
            <h4 class="m-5">Congratulations</h4>
            <h5>You Have Successfully Submitted Your Request!</h5>
        </div>
        <div class="card-body text-center font-italic">
            <h5 class="m-1">Our agents are reviewing your application now and will be in touch with you shortly!</h5>
            <br>
            <p>We appreciate your patronage!</p>
        </div>
    </div>
</div>